.one-cell{
  display: inline-block;

}

.celly{
  padding: 5px;
  margin: 5px;
  /*display: inline-block;*/
  height: 10px;
  width: 10px;
  background-color: blue;
}

.dead{
  background-color: white;
}

.alive{
  background-color: blue;
}

iframe{
  display: block;
  margin: 0 auto;
}

.play{
  margin: 10px auto;
}

.formations{
  margin: 20px auto;
}

.container{
  display: block;
  margin: 10px auto;
}

.board{
  /*border: black solid 1px;*/
}

.quote{
  position: absolute;
  top: 5%;
  bottom: 50%;
  right: 0;
  left: 50%;
}