<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to the game....OF LIFE!!!</h1>
  </div>
</div>
<div class="row">
  <div class="panel">
    <div class="flex-video">
      <iframe width="420" height="315" src="//www.youtube.com/embed/58wJRrvVgZI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <a href="#/play" class="medium success button expand play">Play</a>
  </div>
  <div class="large-8 columns">
    <select>
      <option value="pulsar">Pulsar</option>
    </select>
  </div>
</div>
