<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to the game....OF LIFE!!!</h1>
  </div>
</div>
<div class="video">
  <!-- <div class="panel"> -->
    <div class="video">
      <iframe width="400" height="300" src="//www.youtube.com/embed/58wJRrvVgZI" frameborder="0" allowfullscreen></iframe>
    </div>
  <!-- </div> -->
</div>
<div class="row">
  <div class="large-4 columns">
    <a href="#/play/{{orderProp}}" class="medium success button expand play">Play</a>
  </div>
  <div class="large-8 columns">
    <select class="formations" ng-model="orderProp">
      <option value="pulsar">Pulsar</option>
      <option value="blinker">Blinker</option>
      <option value="toad">Toad</option>
      <option value="beacon">Beacon</option>
      <option value="random_formation">I'm feelin' lucky</option>
    </select>
  </div>
</div>
