<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to the game....OF LIFE!!!</h1>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <a href="#/play/{{orderProp}}" class="medium success button expand play">Play</a>
  </div>
  <div class="large-8 columns">
    <select id="selection" class="formations" ng-model="orderProp">
      <option value="pulsar">Pulsar</option>
      <option value="blinker">Blinker</option>
      <option value="toad">Toad</option>
      <option value="beacon">Beacon</option>
      <option value="random_formation">I'm feelin' lucky</option>
    </select>
    <label for="selection"><h3>Pick a Formation above then press Play</h3></label>

  </div>
</div>
